/* src/index.css */

:root {
  --black: #000000;
  --light-gray: #e3e3e3;
  --green: #007620;
  --brown: #4f2d0b;
  --purple: #4b2560;
  --white: #ffffff;
  --error-red: #d93025;

  /* --- Dark Theme Variables --- */
  --dark-bg: #1a1a1a;
  --panel-bg: #2c2c2c;
  --card-bg: #333333;
  --accent-purple: #c792ea;
  --accent-brown: #c3a189;
}

body {
  margin: 0;
  font-family: 'Chakra Petch', sans-serif;
  background-color: var(--dark-bg); /* Set the dark background globally */
  color: var(--light-gray); /* Set default text color to light */
}

/* Ensure the app fills the screen */
#root {
  min-height: 100vh;
}